version: "3.8"

services:
  redis:
    image: redis
  backend:
    image: backend
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - REDIS_HOST=redis
  frontend:
    image: frontend
    ports:
      - 5000:5000
